<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<style type="text/css">
      .form-signin {
        max-width: 1200px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }

</style>


<div class="container">
    <form class="form-signin" action="" method="post" name="index">	
	<h2 class="form-signin-heading">Twitter ID</h2>        
	<p>
            {{ form.idu(size=80,placeholder="enter your id") }}
            {% for error in form.idu.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <input class="btn btn-large btn-primary" type="submit" value="Load">
	<h4>{{ form.hidden_tag() }}</h4>
    </form>
	<h2>Twitter Tweet</h2>
	{% for c in resp %}
    	<div class="form-signin">
		<p>	
		<h5 class="form-signin-heading">{{c}}</h5> 
        	</p>
	</div>
    	{% endfor %} 
</div>
{% endblock %}
